.NavBar {
  max-width: 1100px;
  width: 100%;
  background-color: rgb(0, 0, 0);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  padding: 0px 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-bottom: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar li {
  list-style-type: none;

  display: flex;
  gap: 20px;
}

.navbar-active {
  /* background: rgba(168, 85, 247, 0.2); */
  border-bottom: 2px solid #22d3ee;
  /* border-radius: 5px; */
  color: #22d3ee;
  font-size: 14px;
  padding: 0px 2px;
  pointer-events: none;
}

.navbar-link {
  /* background: rgba(95, 0, 0, 0.466); */
  /* border-radius: 5px; */
  color: #f8fafc;
  padding: 0px 2px;
  font-size: 14px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #a855f7;
}
