.login {
  height: 100dvh;
  width: 100%;
  background-image: url('/src/assets/lunatik-background.png');
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: rgba(56, 56, 56, 0.678);
  padding: 30px 20px;
  border-radius: 10px;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5px;
}

.login-input label {
  font-size: 16px;
  display: flex;
}

.login-input input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0px 5px;
}
.login-input input:focus {
  outline: 1px solid #ffffff;
}

.login-form button {
  margin: 0px;
  margin-top: 15px;
  width: 100%;
  border: 0px solid white;
  /* outline: 0px; */
  /* border: 0px; */
}
.login-form button:focus {
  outline: 0px solid white;
}
.login-form button:active {
  outline: 1px solid rgb(1, 129, 54);
}
.login-form button:hover {
  background-color: rgb(7, 6, 100);
}
